.center{
	text-align: center;
}

.Excluir{
	background-color: #d9534f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Desativar{
	background-color: #d58512;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Ativar{
	background-color: #449d44;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.side-nav,.table,.navbar-inverse{
	font-size: 20px;
}

.navbar-brand{
	font-size: 30px;
}

.obrigatorio{
	color: red;
}

.meio{
	vertical-align: middle !important;
	text-align: center !important;
}

body{
	background-color: white;
}

.msg{
	width: 100%;
	background-color: white;
}